body{
    font-size: 16px;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(40, 17, 248);
}

input[type="number"]{
    padding: 5px;
    cursor: pointer;
}

input[type="button"]{
    padding: 5px 10px;
    background-color: rgb(17, 3, 95);
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.box{
    margin: 5px;
    width: 600px;
    background-color: rgb(174, 92, 252);
    box-shadow: 5px 5px 5px black;
}